In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('../data/covid_toy.csv')

In [3]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
df.isna().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

Operations we need to make
1. Remove null values -> simple imputer
2. Ordinal encoding 
3. Nominal encoding

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [6]:
df.cough.value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [15]:
si = SimpleImputer()
ohe = OneHotEncoder(drop='first')
oe = OrdinalEncoder(categories=[['Mild', 'Strong']])

fever = si.fit_transform(df[['fever']])
gender_city = ohe.fit_transform(df[['gender','city']])
cough = oe.fit_transform(df[['cough']])

In [30]:
gender_city[:, 0:1].shape

(100, 1)

In [46]:
df_new = np.concatenate(
    (
     gender_city[:,0:1].toarray(),
     gender_city[:,1:2].toarray(),
    ),axis=1)
# df_new = np.concatenate((df['age'], fever, gender_city, cough,df['has_covid']), axis = 1)

In [7]:
from sklearn.compose import ColumnTransformer

In [14]:
transformer = ColumnTransformer(
    # tranformer_name, tranformation, [column]

    transformers=[
        ('tnf1', SimpleImputer(), ['fever']),
        ('tnf2', OneHotEncoder(sparse_output= False, drop='first'), ['gender', 'city']), 
        ('tnf3', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough'])
    ]
    , remainder='passthrough')


# remainder = passthrough keeps all the remaining column are kept as it is.

In [ ]:
transformer.fit_transform(df)

array([[103.0, 1.0, 0.0, 1.0, 0.0, 0.0, 60, 'No'],
       [100.0, 1.0, 1.0, 0.0, 0.0, 0.0, 27, 'Yes'],
       [101.0, 1.0, 1.0, 0.0, 0.0, 0.0, 42, 'No'],
       [98.0, 0.0, 0.0, 1.0, 0.0, 0.0, 31, 'No'],
       [101.0, 0.0, 0.0, 0.0, 1.0, 0.0, 65, 'No'],
       [100.84444444444445, 0.0, 0.0, 0.0, 0.0, 0.0, 84, 'Yes'],
       [101.0, 1.0, 0.0, 0.0, 0.0, 1.0, 14, 'No'],
       [100.84444444444445, 0.0, 0.0, 0.0, 1.0, 1.0, 20, 'Yes'],
       [100.0, 0.0, 0.0, 0.0, 0.0, 1.0, 19, 'No'],
       [101.0, 0.0, 1.0, 0.0, 0.0, 0.0, 64, 'No'],
       [100.84444444444445, 0.0, 1.0, 0.0, 0.0, 0.0, 75, 'No'],
       [98.0, 0.0, 0.0, 0.0, 1.0, 0.0, 65, 'Yes'],
       [99.0, 0.0, 0.0, 1.0, 0.0, 1.0, 25, 'No'],
       [102.0, 1.0, 0.0, 0.0, 0.0, 0.0, 64, 'Yes'],
       [104.0, 1.0, 0.0, 0.0, 0.0, 0.0, 51, 'No'],
       [103.0, 1.0, 0.0, 1.0, 0.0, 1.0, 70, 'Yes'],
       [103.0, 0.0, 0.0, 1.0, 0.0, 0.0, 69, 'Yes'],
       [98.0, 0.0, 1.0, 0.0, 0.0, 1.0, 40, 'No'],
       [98.0, 0.0, 0.0, 0.0, 0.0, 0.0, 64, 'Yes'],
       [100.84444444444445, 0.0, 0.0, 0.0, 0.0, 1.0, 42, 'Yes'],
       [98.0, 1.0, 0.0, 0.0, 0.0, 1.0, 12, 'No'],
       [98.0, 1.0, 0.0, 0.0, 0.0, 0.0, 73, 'Yes'],
       [98.0, 0.0, 0.0, 1.0, 0.0, 1.0, 71, 'Yes'],
       [98.0, 0.0, 1.0, 0.0, 0.0, 0.0, 80, 'Yes'],
       [100.0, 0.0, 0.0, 1.0, 0.0, 1.0, 13, 'No'],
       [100.84444444444445, 1.0, 0.0, 0.0, 1.0, 0.0, 23, 'No'],
       [100.0, 0.0, 0.0, 1.0, 0.0, 0.0, 19, 'Yes'],
       [102.0, 0.0, 1.0, 0.0, 0.0, 1.0, 33, 'No'],
       [104.0, 1.0, 0.0, 1.0, 0.0, 0.0, 16, 'No'],
       [100.84444444444445, 0.0, 0.0, 0.0, 1.0, 1.0, 34, 'Yes'],
       [101.0, 1.0, 1.0, 0.0, 0.0, 0.0, 15, 'Yes'],
       [103.0, 1.0, 0.0, 1.0, 0.0, 0.0, 83, 'No'],
       [101.0, 0.0, 1.0, 0.0, 0.0, 1.0, 34, 'Yes'],
       [98.0, 0.0, 0.0, 1.0, 0.0, 0.0, 26, 'No'],
       [102.0, 1.0, 0.0, 0.0, 1.0, 0.0, 74, 'Yes'],
       [102.0, 0.0, 0.0, 0.0, 0.0, 1.0, 82, 'No'],
       [101.0, 0.0, 0.0, 0.0, 0.0, 0.0, 38, 'No'],
       [100.0, 1.0, 0.0, 1.0, 0.0, 0.0, 55, 'No'],
       [101.0, 0.0, 1.0, 0.0, 0.0, 0.0, 49, 'Yes'],
       [103.0, 0.0, 0.0, 1.0, 0.0, 0.0, 50, 'No'],
       [102.0, 0.0, 1.0, 0.0, 0.0, 0.0, 49, 'No'],
       [100.84444444444445, 1.0, 0.0, 1.0, 0.0, 0.0, 82, 'Yes'],
       [100.0, 1.0, 1.0, 0.0, 0.0, 0.0, 27, 'Yes'],
       [99.0, 0.0, 0.0, 0.0, 0.0, 0.0, 22, 'Yes'],
       [102.0, 1.0, 1.0, 0.0, 0.0, 1.0, 20, 'No'],
       [99.0, 1.0, 0.0, 0.0, 0.0, 0.0, 72, 'No'],
       [101.0, 0.0, 0.0, 0.0, 1.0, 0.0, 19, 'No'],
       [104.0, 0.0, 0.0, 0.0, 0.0, 0.0, 18, 'No'],
       [99.0, 1.0, 0.0, 0.0, 0.0, 1.0, 66, 'No'],
       [104.0, 1.0, 0.0, 0.0, 1.0, 0.0, 44, 'No'],
       [101.0, 1.0, 1.0, 0.0, 0.0, 0.0, 19, 'Yes'],
       [100.0, 0.0, 0.0, 1.0, 0.0, 1.0, 11, 'Yes'],
       [100.0, 0.0, 0.0, 0.0, 0.0, 1.0, 47, 'Yes'],
       [98.0, 1.0, 1.0, 0.0, 0.0, 0.0, 83, 'Yes'],
       [99.0, 0.0, 0.0, 0.0, 1.0, 0.0, 60, 'Yes'],
       [101.0, 0.0, 0.0, 0.0, 1.0, 0.0, 81, 'Yes'],
       [100.84444444444445, 1.0, 0.0, 1.0, 0.0, 1.0, 71, 'No'],
       [99.0, 0.0, 0.0, 0.0, 0.0, 1.0, 49, 'No'],
       [98.0, 1.0, 0.0, 0.0, 1.0, 1.0, 23, 'Yes'],
       [104.0, 0.0, 0.0, 1.0, 0.0, 0.0, 6, 'Yes'],
       [102.0, 0.0, 0.0, 0.0, 0.0, 1.0, 24, 'Yes'],
       [98.0, 0.0, 0.0, 0.0, 1.0, 1.0, 81, 'No'],
       [104.0, 0.0, 0.0, 0.0, 0.0, 1.0, 56, 'Yes'],
       [100.0, 1.0, 0.0, 0.0, 0.0, 0.0, 10, 'No'],
       [104.0, 1.0, 0.0, 0.0, 1.0, 0.0, 42, 'No'],
       [102.0, 0.0, 0.0, 0.0, 0.0, 0.0, 69, 'No'],
       [104.0, 1.0, 0.0, 1.0, 0.0, 0.0, 51, 'No'],
       [99.0, 1.0, 0.0, 0.0, 0.0, 0.0, 65, 'No'],
       [104.0, 0.0, 0.0, 1.0, 0.0, 1.0, 54, 'No'],
       [103.0, 0.0, 1.0, 0.0, 0.0, 0.0, 73, 'No'],
       [101.0, 0.0, 1.0, 0.0, 0.0, 1.0, 68, 'No'],
       [104.0, 0.0, 1.0, 0.0, 0.0, 1.0, 75, 'No'],
       [101.0, 0.0, 0.0, 1.0, 0.0, 0.0, 83, 'No'],
       [98.0, 1.0, 0.0, 1.0, 0.0, 1.0, 34, 'Yes'],
       [104.0, 0.0, 1.0, 0.0, 0.0, 1.0, 34, 'No'],
       [102.0, 1.0, 0.0, 1.0, 0.0, 0.0, 5, 'Yes'],
       [100.0, 1.0, 0.0, 0.0, 0.0, 0.0, 80, 'Yes'],
       [101.0, 0.0, 0.0, 1.0, 0.0, 0.0, 8, 'No'],
       [100.0, 1.0, 0.0, 0.0, 0.0, 0.0, 11, 'Yes'],
       [103.0, 0.0, 0.0, 1.0, 0.0, 0.0, 48, 'Yes'],
       [99.0, 0.0, 0.0, 0.0, 1.0, 0.0, 14, 'Yes'],
       [99.0, 1.0, 1.0, 0.0, 0.0, 0.0, 65, 'No'],
       [98.0, 1.0, 0.0, 1.0, 0.0, 0.0, 24, 'Yes'],
       [104.0, 0.0, 0.0, 1.0, 0.0, 0.0, 17, 'No'],
       [98.0, 0.0, 0.0, 0.0, 1.0, 1.0, 69, 'No'],
       [103.0, 0.0, 0.0, 0.0, 0.0, 0.0, 16, 'Yes'],
       [104.0, 1.0, 0.0, 0.0, 0.0, 0.0, 25, 'Yes'],
       [101.0, 1.0, 0.0, 0.0, 0.0, 1.0, 47, 'No'],
       [100.0, 0.0, 0.0, 1.0, 0.0, 0.0, 5, 'No'],
       [103.0, 1.0, 0.0, 0.0, 0.0, 1.0, 46, 'No'],
       [99.0, 0.0, 1.0, 0.0, 0.0, 1.0, 59, 'No'],
       [100.84444444444445, 1.0, 1.0, 0.0, 0.0, 0.0, 38, 'Yes'],
       [102.0, 0.0, 0.0, 1.0, 0.0, 1.0, 82, 'No'],
       [100.0, 1.0, 0.0, 1.0, 0.0, 0.0, 27, 'Yes'],
       [100.84444444444445, 1.0, 0.0, 1.0, 0.0, 1.0, 79, 'Yes'],
       [104.0, 0.0, 0.0, 0.0, 0.0, 0.0, 12, 'No'],
       [101.0, 0.0, 0.0, 1.0, 0.0, 1.0, 51, 'Yes'],
       [101.0, 0.0, 0.0, 0.0, 0.0, 0.0, 20, 'No'],
       [98.0, 0.0, 0.0, 0.0, 1.0, 1.0, 5, 'No'],
       [98.0, 0.0, 0.0, 1.0, 0.0, 1.0, 10, 'Yes']], dtype=object)