In [51]:
import pandas as pd
import numpy as np

In [35]:
date = pd.read_csv('../data/orders.csv')
time = pd.read_csv('../data/messages.csv')

In [36]:
time.shape, date.shape

((1000, 2), (1000, 4))

In [37]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [45]:
date.drop(columns=['product_id','city_id','orders'], inplace=True)

In [39]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [40]:
date['date'].dtype

dtype('O')

it is a pandas object so we need to convert it into pandas date object

In [41]:
date['date'] = pd.to_datetime(date['date'])

In [42]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [57]:
date['year'] = date['date'].dt.year
date['month'] = date['date'].dt.month
date['month_name'] = date['date'].dt.month_name()
date['day'] = date['date'].dt.day
date['day_of_week'] = date['date'].dt.dayofweek
date['day_of_week_name'] = date['date'].dt.day_name()

date['quarter'] = date['date'].dt.quarter
date['week'] = date['date'].dt.isocalendar().week

In [59]:
#is weekend
date['weekend'] = np.where(date['date'].dt.weekday.isin([5,6]), 1, 0)

In [60]:
date['sem'] = np.where(date['date'].dt.quarter.isin([1, 2]), 1, 2)

In [72]:
date.head()

,date,year,month,month_name,day,day_of_week,day_of_week_name,weekend,quarter,week,sem,year_elapsed
0,2019-12-10,2019,12,December,10,1,Tuesday,0,4,50,2,7.0
1,2018-08-15,2018,8,August,15,2,Wednesday,0,3,33,2,8.0
2,2018-10-23,2018,10,October,23,1,Tuesday,0,4,43,2,8.0
3,2019-08-17,2019,8,August,17,5,Saturday,1,3,33,2,7.0
4,2019-01-06,2019,1,January,6,6,Sunday,1,1,1,1,7.0

In [62]:
import datetime
today = datetime.datetime.today()

In [63]:
today

datetime.datetime(2025, 12, 23, 0, 37, 6, 16106)

In [75]:
# date['year_elapsed'] = np.ceil((today-date['date']).dt.days/365)
date['seconds_elapsed'] = (today-date['date'])/np.timedelta64(1,'s')
date['hrs_elapsed'] = (today-date['date'])/np.timedelta64(1,'h')
date['month_elapsed'] = (today-date['date'])/np.timedelta64(1,'m')

In [76]:
date.head()

,date,year,month,month_name,day,day_of_week,day_of_week_name,weekend,quarter,week,sem,year_elapsed,seconds_elapsed,hrs_elapsed,month_elapsed
0,2019-12-10,2019,12,December,10,1,Tuesday,0,4,50,2,52920.618338,1.905142e+08,52920.618338,3.175237e+06
1,2018-08-15,2018,8,August,15,2,Wednesday,0,3,33,2,64488.618338,2.321590e+08,64488.618338,3.869317e+06
2,2018-10-23,2018,10,October,23,1,Tuesday,0,4,43,2,62832.618338,2.261974e+08,62832.618338,3.769957e+06
3,2019-08-17,2019,8,August,17,5,Saturday,1,3,33,2,55680.618338,2.004502e+08,55680.618338,3.340837e+06
4,2019-01-06,2019,1,January,6,6,Sunday,1,1,1,1,61032.618338,2.197174e+08,61032.618338,3.661957e+06