For encoding nominal data we use oneHotEncoding
OHE converts categorical data into binary vectors (numerical formats)
OneHot means only one bit is hot (1) and others are cold (0)

Because machine learning models are mathematical and using numbers to label data makes model biased to some categories like if red = 3 and blue = 1, then ml model will give more priority to red than blue.

Also this increases space complexity of the data set beacause it creates X new columsn, where X is the number of categories.

We only consider X-1 columns beacause absence of other means presence of one

#### Multicollinearity
*Problem:* The variables are highly correlated (perfectly predictable from each other). This breaks linear models (like Linear Regression and Logistic Regression) because they require independent features.

*Solution*: Drop one column (usually the first one). If you have $N$ categories, keep $N-1$ columns.

In [4]:
import pandas as pd

In [ ]:
df = pd.read_csv('../data/customer.csv')

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [1]:
X = df.iloc[:, 1:2] #gender

NameError: name 'df' is not defined

#### 1.One Hot Encoding using pandas

In [10]:
pd.get_dummies(df, columns=['gender']).head()

   age   review education purchased  gender_Female  gender_Male
0   30  Average    School        No           True        False
1   68     Poor        UG        No           True        False
2   70     Good        PG        No           True        False
3   72     Good        PG        No           True        False
4   16  Average        UG        No           True        False

In [ ]:
# k-1 oneHotEncoding
pd.get_dummies(df, columns=['gender'], drop_first=True).head()
#absence of male means female

   age   review education purchased  gender_Male
0   30  Average    School        No        False
1   68     Poor        UG        No        False
2   70     Good        PG        No        False
3   72     Good        PG        No        False
4   16  Average        UG        No        False

#### 2. OneHot Encoding using Sklearn

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [20]:
ohe = OneHotEncoder(drop ='first', sparse_output=False)

In [1]:
df = ohe.fit_transform(df.iloc[:, 1:2])

NameError: name 'ohe' is not defined